pkgbase = activate-linux
	pkgdesc = The "Activate Windows" watermark ported to Arch with Xlib and cairo in C
	pkgver = 1.1.0
	pkgrel = 3.1
	url = https://github.com/MrGlockenspiel/activate-linux
	install = .install
	arch = x86_64
	license = GPL3
	makedepends = make
	makedepends = clang
	makedepends = pkgconf
	depends = cairo
	depends = libx11
	depends = libxi
	depends = libxt
	depends = libxrandr
	depends = libxfixes
	depends = libxinerama
	depends = wayland
	depends = wayland-protocols
	optdepends = libconfig
	conflicts = activate-linux-git
	conflicts = activate-linux-toggle
	options = !buildflags
	options = !makeflags
	options = !strip
	source = activate-linux.service
	source = activate-linux-1.1.0.tar.gz::https://github.com/MrGlockenspiel/activate-linux/archive/refs/tags/v1.1.0.tar.gz
	sha512sums = f5f2fc751ac987ec147e847526ce47723e34a9beca607292637a4c96985be4a7d14c8c1ce85dcbd38280f480c54b9f6a32979c86337392165932bfbb87cb7156
	sha512sums = 629e2bba62f65db1351f0ae94e604b401c39021aaf429d26d31c3f984d05bdf06374797bec37416f119516d6d226599be04f68097659d19e05bf2dfb1971aba4

pkgname = activate-linux
