pkgbase = clash-verge-se
	pkgdesc = Continuation of Clash Verge | A Clash Meta GUI based on Tauri | Special Edition for Arch
	pkgver = 2.4.4
	pkgrel = 1
	url = https://github.com/clash-verge-rev/clash-verge-rev
	install = .install
	arch = x86_64
	license = GPL3
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = libayatana-appindicator
	depends = rav1e
	conflicts = clash-verge-rev
	conflicts = clash-verge-rev-alpha
	conflicts = clash-verge-rev-alpha-bin
	conflicts = clash-verge-rev-bin
	conflicts = clash-verge-rev-git
	conflicts = clash-verge
	conflicts = clash-verge-bin
	options = !strip
	source_x86_64 = clash-verge-se-2.4.4-x86_64.deb::https://github.com/beanc904/DevelopingHandbook/releases/download/clash-verge-rev-se-v2.4.4/Clash.Verge.Special.Edition_2.4.4_amd64.deb
	sha256sums_x86_64 = 67e9b1b3180c57db45e33a374c7f63712385a094f6dc11404779bce451b2a8fe

pkgname = clash-verge-se
