pkgbase = clash-verge-se
	pkgdesc = Continuation of Clash Verge | A Clash Meta GUI based on Tauri | Special Edition for Arch
	pkgver = 2.4.7
	pkgrel = 1
	url = https://github.com/beanc904/clash-verge-rev
	install = .install
	arch = x86_64
	license = GPL3
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = libayatana-appindicator
	depends = rav1e
	provides = clash-verge-rev-bin
	conflicts = clash-verge-rev-bin
	conflicts = clash-verge-rev-alpha
	conflicts = clash-verge-rev-alpha-bin
	conflicts = clash-verge-rev-git
	conflicts = clash-verge
	conflicts = clash-verge-bin
	options = !strip
	source_x86_64 = clash-verge-rev-2.4.7-x86_64.deb::https://github.com/beanc904/clash-verge-rev/releases/download/v2.4.7-se/Clash.Verge_2.4.7_amd64.deb
	sha256sums_x86_64 = 140605105d28bfbb1981f5cf4c25a2fc4200cc45ae11fead75f870ca95753865

pkgname = clash-verge-se
